body {
    margin: 0;
    padding: 0;
    background: url('drop.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Press Start 2P', cursive;
    font-size: 2em;
    color: #333;
}

p {
    text-align: center;
    font-size: 1.5em;
    margin-top: 30px;
    line-height: 1.5em;
    color: #555;
    font-family: 'Roboto Mono', monospace;
}
